:root {
    --preto-bg-inpe: #161617;
    --amarelo-bg-inpe:#F29406;
    --azul-bg-inpe:#0979B9;
    --azulescuro-bg-inpe:#071d41;
    --bege-bg-inpe:#E4DBCE;
    --branco-bg-inpe:#FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Anton';
    src: url(/font/Anton-Regular.ttf);
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* para garantir que o rodapé fique sempre no final */
}

.content {
    flex-grow: 1; /* faz com que o conteúdo ocupe todo o espaço disponível */
}

.subtitulo-padrao-conteudo {
    text-transform: uppercase;
    font-family: 'Rawline', Raleway, sans-serif;
    font-weight: 600;
    font-size: 34.832px;
    margin-bottom: 2rem;
}

.texto-padrao-conteudo {
    font-family: 'Rawline', Raleway, sans-serif;
    font-weight: 400;
    font-size: 21px;
    padding: 0;
}

.img-conteudo-coids img {
    width: 31rem;
    height: 31rem;
}

.card-img-top img{
    justify-content: center;
}

.conteudo-coids {
    margin-top: 6rem;
    margin-bottom: 22rem;
}

.conteudo-coids-secoes {
    margin-top: 6rem;
}

#ultimo-container {
    margin-bottom: 22rem;
    margin-top: 2rem;
}

.container-contatos {
    margin-top: 2rem;
}

.texto-coids-content {
    margin-top: 2rem;
}

.format-card {
    padding: 0.3rem;
    margin-bottom: 5rem;
}

.format-card img {
    width: 10rem;
}

.format-card-img {
    justify-content: center;
}

.estilo-texto-card h5 {
    text-transform: uppercase;
    font-family: 'Rawline', Raleway, sans-serif;
    font-weight: 600;
    font-size: 21px;
}

.estilo-texto-card p {
    font-family: 'Rawline', Raleway, sans-serif;
}

.estilo-texto-card a {
    font-family: 'Rawline', Raleway, sans-serif;
    color: var(--azulescuro-bg-inpe);
    font-weight: 600;
}