.br-footer {
      position:absolute;
      width: 100%;
  }

  :root {
    --preto-bg-inpe: #161617;
    --amarelo-bg-inpe:#F29406;
    --azul-bg-inpe:#0979B9;
    --azulescuro-bg-inpe:#071d41;
    --bege-bg-inpe:#E4DBCE;
    --branco-bg-inpe:#FFFFFF;
  }
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @font-face {
    font-family: 'Anton';
    src: url(/font/Anton-Regular.ttf);
  }
  
    .conteudo_footer {
      padding-top: 4rem;
    }
    
    .titulo_footer {
      font-size: 20px;
    }
    
    .subtitulo_footer {
      font-size: 18px;
    }